.perks-section {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .perks__description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .perk li::before {
    min-width: 21px;
    min-height: 21px;
    max-width: 21px;
    max-height: 21px;
  }
  img {
    border-radius: 12px;
  }
}
