.perks-section {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .perks__description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      max-width: 320px;
      font-family: "Inter";
      font-size: var(--text-preset-5);
      line-height: 1.4;
      letter-spacing: -0.5px;
      color: var(--neutral-700);

      display: flex;
      align-items: center;
      gap: 14px;
    }

    li::before {
      content: url("assets/images/icon-check.svg");
    }
  }

  img {
    border-radius: 12px;
  }
}
