.card {
  display: flex;
  align-items: center;
  gap: 12px;

  img.avatar {
    max-width: 110px;
    max-height: 40px;
  }

  .joined {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      font-family: "Martian Mono";
      font-size: var(--text-preset-7);
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -1px;
    }
  }
}
