.card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    text-wrap: wrap;
    font-family: "Martian Mono";
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 14px;
  }
}
