---
---

<a href="#" class="py-[20px] px-[22px] max-h-[64px] border-[2px] border-neutral-900 rounded-[8px] text-neutral-900 font-[Martian_Mono] text-[1rem] flex font-semibold leading-1.3 tracking-[-1px] gap-4 items-center justify-center hover:bg-linear-90 hover:from-[#FFE2D1] hover:to-[#FFF5EF] md:max-w-[380px]">
    <slot/>
</a>