---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Turn your reading time into learning time with fellow tech enthusiasts. Get curated recommendations, join vibrant discussions, and level up your skills one chapter at a time.">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Tech Book Club | Learn, Discuss, Grow</title>
	</head>
	<body>
		<slot />
	</body>
</html>

